<% content_for :title do %>  
ToDo List Project
<% end %> 
<div id="homeimg">
<%= image_tag "todo.jpg" %>
</div>
<div id="home">
<div id="bubu">
<h1>Lista de Tareas JML</h1>
<h3> Aplicacion de rails para poder crear y adminstrar listas de tareas </h3>
<ul style="text-align:left">
<li> <%= link_to "Registrate!",new_user_path %> </li>
<li> Crea una o varias listas de tareas! </li>
<li> Administra tus listas agregando tareas, editando o borrando las mismas </li>
</ul>
</div>
</div>



